.main-div {
  width: 90vh;
  text-align: center;
  margin: auto;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.518);
  background: linear-gradient(to bottom right, #124495, #00060a);
  color: #ffffff; 
  margin-top: 20px;
  font-family: 'Afacad', sans-serif;
}


.main-heading h3 {
  margin: 0;
  color: #ffffff; 
}

.ans {
  margin-top: 10px;
  transition: 0.5s;
  color: #e6e6e6; 
}

p {
  text-align: left;
  color: #ffffff; 
}

.box {
  display: inline-block;
  width: 500px; 
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: justify;
}

.main-heading {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn {
  margin-right: 15px;
  background-color: #aeedff; 
  color: #fff; 
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #cfcfcf; 
  
  transition: 0.3s;
}

body{
  background-color:  #aeedff71;
}
h1{
  font-size: 50px;
}